body {
  background-image: url("./codingscreen.jfif");
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  color: ivory;
  border: 1px solid black;
}

.name {
  font-size: 100px;
}

nav {
  text-align: right;
}

nav li {
  display: inline;
  padding: 20px 20px;
  font-size: 50px;
  font-family: monospace;
}

nav a {
  color: ivory;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

article {
  border: 1px solid white;
  color: ivory;
  background-color: grey;
  text-align: center;
  padding: 30px;
  margin: 50px;
  margin-bottom: 60px;
}

.row div {
  display: inline;
  font-size: 50px;
  font-family: monospace;
  color: ivory;
  border: 5px solid ivory;
  background-color: grey;
  padding: 20px 20px;
  margin: 80px 80px;
  display: flex;
  flex-wrap: wrap;
}

#bigCard {
  min-height: 800px;
  border-radius: 7px;
}

footer,
footer a {
  text-align: center;
  padding: 50px;
  color: ivory;
}

footer {
  font-size: 25pt;
}

@media screen and (max-width: 992px) {
  .column div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .column div {
    width: 100%;
  }
}

.gitLinked {
  color: blue;
  font-family: monospace;
  font-size: 20px;
  margin: 20px;
  transition: color 0.5s;
}

.gitLinked:hover {
  color: cornflowerblue;
}

.project {
  max-width: 100%;
}

#bigCard:hover,
.card:hover {
  box-shadow: 0 0 40px 20px rgb(228, 27, 235);
  color: rgb(228, 27, 235);
}

.contact {
  margin: 50px;
}

#clickPic {
  margin-top: 50px;
}
